.content-side {
    margin-left: 20rem;
    margin-right: 2rem;
    padding-top: 4rem;
    text-align: left;
    position: relative;
}

.title {
    color: black;
    font-size: 2rem;
    padding-top: 0;
    margin-bottom: 0.3em;
}

/* Media queries */
@media only screen and (max-width: 850px) {
    .content-side {
        margin-left: 17rem;
    }
}

@media only screen and (max-width: 750px) {
    .content-side {
        margin-left: 2rem;
        margin-top: 12rem;
    }
}