* {
    box-sizing: border-box; 
    line-height: 1.5;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #f6f6f6;
}

header {
    background-color: #11999E;
    float: left;
    position: fixed;
    height: 100%;
    width: 18rem;
}

header * {
    color: #f6f6f6;
}

header .gr-nav-bar {
    margin: 0.5em;
    padding-left: 0.5em;
    height: 100%;
}

header .logo-text {
    width: inherit;
    margin-top: 5.2em;
    margin-bottom: 0px;
    line-height: 1.2;
    font-size: 2.6em;
    font-weight: bold;
}

header div .nav-bar {
    display: block;
    font-size: 1.2em;
}

header div .nav-bar ul {
    list-style: none;
    padding-left: 0px;
}

header div .nav-bar ul li a {
    text-decoration: none;
}

header div .nav-bar ul li a:hover {
    text-decoration: underline;
}

header .footer {
    margin-bottom: 0px;
    margin-top: 4em;
}

header .footer ul {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

header .footer ul li {
    display: inline;
    padding-left: 0.8em;
}

header .footer ul li a {
    font-size: 1.5em;
}

header .footer ul li a:hover * {
    color: #b5b5b5;
}

header .footer p {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* media queries */
@media only screen and (max-width: 850px) {
    header {
        width: 15rem;
    }

    header .logo-text {
        font-size: 2em;
    }

    header .nav-bar {
        font-size: 1em;
    }

    header .footer ul li a {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 750px) {
    body {
        display: flex;
    }

    header {
        height: 11rem;
        width: 100%;
        text-align: center;
    }

    header .logo-text {
        font-size: 2em;
        margin-top: 0.5em;
    }

    header .gr-nav-bar {
        margin: 0px;
    }

    header .nav-bar {
        font-size: 1em;
    }

    header .footer {
        margin-top: 0px;
    }

    header .footer ul li a {
        font-size: 1.2em;
    }

    header .nav-bar ul {
        padding: 0px;
        margin: 0px;
    }
}

@media only screen and (max-width: 450px) {
    header .logo-text {
        font-size: 1.5em;
        margin-top: 0.3em;
    }

    header {
        height: 10rem;
    }
}